<div class="row">
  <div class="col">
    <h3>Messages</h3>
    <div id='messages'>
      <% @messages.each do |message| %>
          <%= render message %>
        <% end %>
    </div>
    <%= render 'new_message' %>
  </div>

  <%= render 'active_users' %>
</div>
